.dropdown-menu { 
    margin-top:25px;
    padding-top:0;

    .divider { margin:0; }

    .circleI { 
        width:30px; height:30px;
         -moz-border-radius:50%; 
         border-radius:50%; 
         background-color:#eff3f4; 
         color:#ccc; 
         text-align:center;
         font-size:1.7rem;
         margin:0 10px;
         padding-top:5px;
    }

    li { position:relative; margin-right:0; /*padding:10px 0;*/}

    li:hover{

    .emptyCircle {
        background-color:#fff;
    }
    .circleI {
        background-color:#fff;
    }
 }
}

.dropdown-menu-right { right:-15px; }

.dropdown-menu > li > a { padding:10px 0; }