@charset "UTF-8";

body { font-family: 'Lato', sans-serif; font-size:16px; background-color: #505050; }

#topPanel { margin:0; position:relative; }

.bannerContainer { padding:0; }

#bottomPanel {
  margin:0;
}

.bodyC {
    position:relative;
    padding:0;
    background-color:#f1f1f1;
    margin-right:-15px;
}

.mainHead {
    height:110px;
    background-color: #ffffff;
}
.mainC_nav { position:absolute; right:0; margin-right:30px; margin-top:35px; z-index:100; cursor:pointer;}
.mainC_nav li { position:relative; margin-right:5px; }
.mainC_nav span { font-size:3rem; color:#b7bbc2; }

#mBubble { 
    position:absolute; 
    background-color:#853c37; 
    width:15px; height:15px; 
    font-size:1rem; 
    left:25px; 
    top:-3px; 
}

.clLogo { 
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
}

.sNav { font-size:1.45rem; }
.sNav ul { margin: 5px -15px 0; }
.sNav ul li { margin-top:13px; padding:12px 0 12px 14%; }
.sNav ul li:hover { background-color:#333; cursor:pointer; color:white; }
.sNav i, .sNav span { margin-right:10px;}

#mainImg { width: 100%; }

.mainCfooter {
    margin-top:200px;
    padding-top:130px;
    background-color: #444444;
}

footer h4 {margin:0;}
footer { background-color: #333; color:white; }

.footerContent li {
    /*display:inline-block;
    margin-right:50px;*/
    max-width:250px;
}

.footerContent h3 { 
    font-family:"Lato";
    font-weight:300;
    font-size:2.25rem;
}

.iconHead { position:relative; left:-10px; }

.childList { 
    font-weight:300;
    list-style-type:none; 
    padding-left:20px;
    font-size:12.5px;
}

.childList li { padding-top:10px; }

.firstHeading { margin:0; }
.firstHeader { margin-top:0; margin-bottom:10px; }

.tempLink { text-decoration:underline; }
.collapseLi { padding-top:5px;}

.footerContent { position:relative; left:7.5%; padding:0; width:90%; }
.footerStuff { padding-bottom:100px; }

.discussionDrop { margin:10px 0; width:200px; padding-bottom:0; }









